{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程详情</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        .c1 {
            margin-top: 30px;
        }

        .c2 {
            margin-top: 20px;
        }

        .r {
            float: right;
        }

        .btn-like {
            color: #dc3545;
        }

        .btn-subscribe {
            color: #007bff;
        }
    </style>
</head>
<body>

<div class="container">
    <div>
        <a href="/student/list/">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size: 30px;"></span>
            <span class="glyphicon-class" style="font-size: 30px;"></span>
        </a>
    </div>
    <div>
        <div>
            <h1>{{ course.title }}</h1>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img src={{ course.img_url }} class="img-fluid" alt="课程图片">
                </div>
                <div class="col-md-8">
                    <h4>课程简介:{{ course.headline }}</h4>
                    <hr>
                    <h4>语言:{{ course.language }}</h4>
                    <hr>
                    <h4>类别:{{ course.category }}</h4>
                    <hr>
                    <h4>课程价格:<span class="text-danger">{{ course.price }}</span></h4>
                </div>
            </div>
            <div class="c1">
                <a href="/course/{{ course.id }}/like/">
                    <button type="button" class="btn btn-light btn-like " data-liked="false" style="font-size: 20px;">
                        <i class="fa fa-heart">{{ course.like_course }}</i>
                    </button>
                </a>

                <button id="s1" type="button" class="btn btn-light btn-subscribe" data-subscribed="{{ subscribed }}"
                        style="font-size: 20px;">

                    {% if subscribed %}
                        <i class='fa fa-check'></i> 已订阅
                    {% else %}
                        <i class='fa fa-bell'></i>
                    {% endif %}
                </button>
                <button id="cancel-subscribe" class="btn btn-danger">取消订阅</button>

            </div>

            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">课程信息</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">课程学习人数：<span
                                        class="badge badge-primary">{{ course.num_subscribers }}</span>
                                </li>
                                <li class="list-group-item">课程时长(小时)：<span
                                        class="badge badge-primary">{{ time }}</span>
                                </li>
                                <li class="list-group-item">难度等级：<span class="badge badge-primary">中级</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">课程评分</h5>
                            <p class="text-center display-4">4.8</p>
                            <p class="text-center text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </p>
                            <p class="text-center">共<span class="text-primary">{{ course.num_comments }}</span>个评价
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3>相关课程推荐</h3>
                    <div class="row">
                        {% for item in relate %}
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img src={{ item.img_url }} class="card-img-top" alt="课程图片">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.title }}</h5>
                                        <p class="card-text">{{ item.headline }}</p>
                                        <a href="/course/{{ item.id }}/detail/" class="btn btn-primary">查看详情</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form novalidate>
                    <div class="form-group">
                        <label for="comment">发表评论:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                    <button id="submit-comment" class="btn btn-primary" type="button">提交</button>
                </form>
                <hr>
                <h3>评论区</h3>
                {% for key,value in comment.items %}
                    <ul class="list-unstyled">
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ key }}</h5>
                                    <textarea class="form-control" id="comment" rows="3"
                                              name="comment">{{ value }}</textarea>
                                </div>
                            </div>
                        </li>
                        <!-- 其他评论列表项 -->
                    </ul>
                {% endfor %}

            </div>
        </div>
    </div>
    <script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // 点击点赞按钮
            $(".btn-like").click(function () {
                // 切换红心图标
                if ($(this).attr("data-liked") === "false") {
                    $(this).addClass("btn-danger");
                    $(this).removeClass("btn-light");
                    $(this).find("i").removeClass("fa-heart");
                    $(this).find("i").addClass("fa-heartbeat");
                    $(this).attr("data-liked", "true");
                } else {
                    $(this).removeClass("btn-danger");
                    $(this).addClass("btn-light");
                    $(this).find("i").removeClass("fa-heartbeat");
                    $(this).find("i").addClass("fa-heart");
                    $(this).attr("data-liked", "false");
                }
            });

            // 点击订阅按钮
            $(".btn-subscribe").click(function () {
                var subscribed = $(this).attr("data-subscribed") === "true";
                // 切换订阅状态
                if (subscribed) {
                    $(this).removeClass("btn-primary");
                    $(this).addClass("btn-light");
                    $(this).html("<i class='fa fa-bell'></i> 铃铛");
                    $(this).attr("data-subscribed", "false");
                    $('#cancel-subscribe').hide();
                } else {
                    $(this).addClass("btn-primary");
                    $(this).removeClass("btn-light");
                    $(this).html("<i class='fa fa-check'></i> 已订阅");
                    $(this).attr("data-subscribed", "true");
                    $('#cancel-subscribe').show();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            bindaddcomment();
            subscribe();
        })

        function bindaddcomment() {
            $('#submit-comment').click(function () {
                var course_id =  {{course.id}};
                var comment = $('#comment').val();
                var s_id = {{ request.session.info.id }};
                $.ajax({
                    type: 'POST',
                    url: '/course/add_comment/',
                    data: {
                        'c_id': course_id,
                        'comment': comment,
                        's_id': s_id
                    },
                    dataType: "JSON",
                    success: function (data) {
                        console.info(data)
                        alert('评论已提交');
                    },
                    error: function (xhr, status, error) {
                        // handle error case
                        alert('评论提交失败');
                    }
                });
            });
        };

        function subscribe() {
            $('#s1').click(function () {
                var c_id = {{ course.id }};
                var s_id = {{ request.session.info.id }}
                    $.ajax({
                        type: 'post',
                        url: '/course/subscribe/',
                        dataType: 'json',
                        data: {
                            "c_id": c_id,
                            "s_id": s_id
                        },
                        success: function (res) {
                            if (res) {
                                alert("已订阅")
                                $('#s1').addClass("btn-primary");
                                $('#s1').removeClass("btn-light");
                                $('#s1').html("<i class='fa fa-check'></i> 已订阅");
                                $('#s1').attr("data-subscribed", "true");
                                $('#cancel-subscribe').show();
                            } else {
                                alert("取消订阅成功")
                                $('#s1').removeClass("btn-primary");
                                $('#s1').addClass("btn-light");
                                $('#s1').html("<i class='fa fa-bell'></i>");
                                $('#s1').attr("data-subscribed", "false");
                                $('#cancel-subscribe').hide();
                            }
                        }
                    })
            })
        };
        // 取消订阅的逻辑
        $('#cancel-subscribe').click(function () {
            var c_id = {{ course.id }};
            var s_id = {{ request.session.info.id }}
                $.ajax({
                    type: 'get',
                    url: '/course/cancel_subscribe/',
                    dataType: 'json',
                    data: {
                        "c_id": c_id,
                        "s_id": s_id
                    },
                    success: function (res) {
                        if (res.status) {
                            alert("已取消订阅");
                            $('#cancel-subscribe').hide();  // 隐藏取消订阅按钮
                        } else {
                            // 处理取消订阅失败的情况
                            alert("取消失败!")
                        }
                    }
                });
        });
    </script>

</div>

</body>
</html>
