{% extends 'Base.html' %}
{% load static %}
{% block css %}

    <style>
        body {
            background-image: url("{% static 'img/jpg/Background/a.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .r1 {
            border-radius: 0;
        }

        .img {
            background-image: url("/app/static/img/jpg/Background/cool.png");
        }

        .r2 {
            height: 300px;
            width: 300px;
        }

        .btn-refresh {
            font-size: 20px;
            padding: 10px 20px;
        }

        .r3 {
            margin-left: 30px;
        }

    </style>

{% endblock %}
{% block option %}
    <ul class="nav navbar-nav">
        <li><a href="/admin/list/">管理员列表<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li><a href="/stu/list/">用户管理<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li><a href="/comment/list/">论坛管理<span class="sr-only">(current)</span></a></li>
    </ul>
{% endblock %}
{% block menu %}
    <li role="separator" class="divider"></li>
    <li><span class="glyphicon glyphicon-time" aria-hidden="true"><a href="/logout/">退出登录</a></span></li>
{% endblock %}
{% block content %}
    <div class="row show-grid">
        <meta name="referrer" content="no-referrer">
        <div class="r3">
            {% for item in course %}
                {% if forloop.counter0|divisibleby:4 %}
                    <div class="row">
                {% endif %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <a href="/forum/{{ item.id }}/">
                        <img class="card-img-top r2" src="{{ item.img_url }}" alt="{{ item.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
            {% endif %}
            {% endfor %}
        </div>


    </div>

{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}